@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Pacifico);body {
  color: white;
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px #172318;
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #0c5b36);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #0c5b36);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #0c5b36);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #0c5b36);
  /* Standard syntax */ }

.body-font-pair {
  font-size: 26px !important;
  font-weight: 700 !important;
  font-family: 'Josefin Slab', serif;
  line-height: 1em; }

h1 {
  font-size: 64px; }

/* unvisited link */
a:link {
  color: #adbfff; }

/* visited link */
a:visited {
  color: #5b7fff; }

/* mouse over link */
a:hover {
  color: #5b7fff; }

/* selected link */
a:active {
  color: #5b7fff; }

/* Google map container, per google maps API */
#map {
  height: 320px;
  width: 320px;
  border: 1px solid black;
  border-radius: 8px; }

#top-image {
  margin-top: 20px; }

#mymain {
  background-color: white;
  border: 2px solid #bbb;
  border-radius: 8px;
  padding: 20px;
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.morepics {
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  width: 250px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19); }

/* Visual aids for development only */
/*
.col-xs-4 {
  outline: 1px solid black !important;
}

.container {
  outline: 1px solid black;
}
*/
